@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  overflow-x: hidden;
}

.Toastify__toast {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 0.5rem;
}

/* Cache la scrollbar tout en permettant le scroll */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
